include AUTHORS.md
include HISTORY.md
include README.md

recursive-include requirements/ *.txt

# recursive-include src/makefile_to_markdown/data/ *.cfg
# recursive-include src/makefile_to_markdown/data/ *.ps1
